<div class="footer">
    <div class="footerContent">
        <p><a href="{{ .Site.Params.legalLink }}">{{ .Site.Params.legalLabel }}</a> | by <a href="{{ .Site.Params.developerLink }}">{{ .Site.Params.developerLabel }}</a> | {{ dateFormat "2006" now }}</p>
    </div>
</div>

</body>

<script>
// set element background
document.querySelectorAll('.innerContainer').forEach(container => {
        const bgUrl = container.getAttribute('data-bg');
        if (bgUrl) {
            container.style.backgroundImage = `url(${bgUrl})`;
        }
    });
</script>
</html>