<div class="footer">
    <div class="footerContent">
        <p><a href="https://legal.michivonah.ch">Rechtliches</a> | by <a href="https://michivonah.ch/?ref=neodym-dev">michivonah.ch</a> | {{ dateFormat "2006" now }}</p>
    </div>
</div>

</body>

<script>
// set element background
document.querySelectorAll('.innerContainer').forEach(container => {
        const bgUrl = container.getAttribute('data-bg');
        if (bgUrl) {
            container.style.backgroundImage = `url(${bgUrl})`;
        }
    });
</script>
</html>