<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
    <title>{{ .Site.Title }}</title>
    <meta name="mobile-web-app-title" content="{{ .Site.Title }}">
    <meta name="apple-mobile-web-app-title" content="{{ .Site.Title }}">
    <link id="favicon" rel="icon" type="image/png" href="assets/logo/favicon_256.png">
    <link rel="icon" type="image/svg+xml" href="assets/logo/logo_black.svg">
    <link rel="shortcut icon" type="image/png" href="assets/logo/favicon_256.png">
    <link rel="apple-touch-icon" href="assets/logo/favicon_256.png">
    <link rel="apple-touch-icon" sizes="152x152" href="assets/logo/favicon_256.png">
    <link rel="apple-touch-icon" sizes="180x180" href="assets/logo/favicon_256.png">
    <link rel="apple-touch-icon" sizes="167x167" href="assets/logo/favicon_256.png">
    <link rel="canonical" href="{{ .Site.BaseURL }}">
    <script src="https://unpkg.com/akar-icons-fonts"></script>
    <link rel="stylesheet" type="text/css" href="style.css"/>
    <meta charset="UTF-8">
    <meta name="description" content="{{ .Site.Title }}">
    <meta name="keywords" content="{{ .Site.Title }}">
    <meta name="author" content="Michi von Ah">
    <meta name="robots" content="index">
    <meta http-equiv="expires" content="43200">

    <meta property="og:title" content="{{ .Site.Title }}">
    <meta property="og:description" content="{{ .Site.Title }}">
    <meta property="og:image" content="assets/logo/favicon_256.png">
    <meta property="og:image:type" content="image/jpeg">
    <meta property="og:url" content="{{ .Site.BaseURL }}">
    <meta property="og:site_name" content="{{ .Site.Title }}">
    <meta property="twitter:title" content="{{ .Site.Title }}">
    <meta property="twitter:description" content="{{ .Site.Title }}">
    <meta property="twitter:image" content="assets/logo/favicon_256.png">
    <meta name="twitter:image:alt" content="{{ .Site.Title }}">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@michivonah">
    <meta name="twitter:creator" content="@michivonah">

    <meta name="theme-color" content="#3498db">
    <meta name="mobile-web-app-status-bar-style" content="#2980b9">
    <meta name="apple-mobile-web-app-status-bar-style" content="#2980b9">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">

</head>
<body>