html{scroll-behavior: smooth;}

body{
    margin: 0;
    padding: 0;
    color: var(--color);
    background: var(--background);
    text-align: left;
    font-family: "Arial", sans-serif;
    --theme1: #3498db;
    --theme2: #2980b9;
    --background: #181818;
    --color: #f8f8f8;
    --transition: 500ms linear all;
}

.outerContainer{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-content: stretch;
    align-items: stretch;
    width: 100vw;
    height: 100vh;
    transition: var(--transition);
    scroll-snap-type: x mandatory;
    overflow-x: auto;
}

.innerContainer{
    flex-shrink: 0;
    flex-grow: 1;
    flex-basis: 0;
    background-repeat: no-repeat;
    background-size: cover;
    transition: var(--transition);
    scroll-snap-align: start;
}

.innerContainer:hover{
    flex-grow: 1.5;
    transition: var(--transition);
}

.innerContainer img{
    width: 20%;
    height: auto;
}

@media (max-width: 768px){
    .outerContainer{
        flex-direction: column;
        scroll-snap-type: y mandatory;
        overflow-y: auto;
        height: 100vh;
        width: 100vw;
    }

    .innerContainer{
        width: 100vw;
        height: 100vh;
        flex-basis: 100%;
    }
}

.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.footer a, .footer p{
    color: var(--color);
}